<div id="msg-snippet">
	<% if current_user.has_role?('admin') %>
		<%= content_tag :span,"	Reply to message from #{message.user.username}", :id => 'creator' %>
	<% else %>
		<%= content_tag :span,"	Reply to message from #{message.user_type}", :id => 'creator' %>
	<% end %>
	<%= content_tag :span, message.message, :id => 'comment' %>
</div>
