<h3>Previous Selection</h3>

<ul>
	<%= render 'shared/part_titles' %>
	<% for item in  @entry.line_items %>
		<li id="item_<%= item.car_part.id %>" class="selection-list">
			<%= render 'cart/prev_item', :item => item %>
		</li>
	<% end %>
</ul>
