<div id="message-box">
	<div id="msg-list">
		<div id="private">
			<%= render 'messages/private_messages' %>
		</div>
		<div id="public">
			<%= render 'messages/public_messages' %>
		</div>
	</div>
	<div id="msg-fields">
		<%= render 'messages/buttons' %>
	</div>
</div>
