/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;  }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* BASIC HTML
--------------------------------------------------------------------------------*/
body { font: 12px/1.5 Arial, 'Liberation Sans', FreeSans, sans-serif; padding: 0px; background-color: #911D00; }
p { margin: 0 0 0.5em; }
hr { background: #ddd; clear: both; float: none; width: 100%; height: .1em; margin: 20px 0; border: none; }
.container { margin: 0 auto; width: 960px; position: relative; overflow: hidden; }
/*.container { width: 92%; margin-left: 4%; margin-right: 4%; overflow: hidden; padding: 0 1%; }*/
#top { background-color: #f1f2ed; padding-bottom: 20px; }
#content-main { clear: both; padding: 10px 0; min-height: 200px; position: relative; }
#content-main a, #subnav #flash_info a, #call-to-action a { color: #C00; font-weight: bold; text-decoration: none; background-color: white; border-bottom: 1px dotted #C00; }
#content-main a[rel^=shadowbox] { padding: 0; opacity: 1; }
#content-main a:hover, #subnav #flash_info a:hover, #call-to-action a:hover { color: black; border-bottom: 1px solid black; }
ul, ol { margin: 1.2em 0; }
ul.links li { display: inline; float: left; font-weight: bold; margin: 5px 5px 0 0; height: 30px; line-height: 30px !important; }
ul li.label { padding: 0 0 0 1em; text-transform: uppercase; color: #C00; font-weight: bold; }
ul.links li a { border-radius: 2px; color: #8c8e93; display: inline; padding: 10px 20px; text-decoration: none; }
ul.links li a:hover, ul.links li #current_page { color: #3e4044; background-color: #e5e5e5; text-decoration: none; }
.page-links { clear: both; font-size: 1.5em; padding: 10px 0; width: 100%; text-align: center; }
.page-links input { font-size: 1em; margin: 0; }
.spinner { height: 100%; width: 100%; position: fixed; top: 0; left: 0; opacity: 0.75; }
.spinner img { z-index: 100; position: relative; top: 40%; left: 45%; background-color: #333; background-color: rgba(0, 0, 0, 0.70); border-radius: 15px; padding: 50px; }
.clear-both { clear: both; }


/* TYPOGRAPHY & MISC FORMATS
---------------------------------------------------------------------- */
h1 { font-size: 3em; line-height: 1; margin-bottom: 1em; }
h2 { font-size: 2em; margin-bottom: .75em; }
h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
h5 { text-transform: uppercase; margin-bottom: 1em; }
strong, .strong { font-weight: bold; font-size: 1.1em; color: #C00; }
.instruction { font-family: Georgia, "Times New Roman", Times, serif; font-style: italic; }
.cancelled { text-decoration: line-through; }
.highlight { background-color: #FFF6BF; padding: 0 10px; }
.green { background-color: #264409; color: #FFF; }
.brown { color: white; background-color: #8a1f11; }
.offwhite { background-color: #eaeaea; }
.white { background-color: white; }
.orange { background-color: orange; }
.just-border { border: 1px dotted #999; }
.blue-alert, .red-alert, .mild-alert, .regular-alert, .comfy-alert { border: 2px solid; margin-top: 10px; padding: 5px; }
.blue-alert { color: #00538f; background-color: #d3f9fe; border-color: #43a7f6; }
.red-alert { background-color: #990000; border-color: #FFD324; color: white; font-weight: bold; }
.mild-alert { background-color: #FFF6BF; border-color: #FFD324; color: #8a1f11; }
.regular-alert { background-color: white; border-color: #B60002; }
.comfy-alert { background-color: white; border-color: #CCC; }
.box { background-color: #ddd; padding: 5px; }
.main-title { color: #919191; float: left; width: 50%; }
h3#status { float: right; margin: -2px 1em 1em; padding: 15px 25px; text-align: center; }
.small { color: #919191; font-size: 0.8em; }

/* HEADER & FOOTER
---------------------------------------------------------------------- */
#header h1 { float: left; position: relative; background: transparent url(../images/base/ebidlogo.png) no-repeat; width: 100px; height: 95px; text-indent: -9999px; margin-bottom: 10px; }
#header h1:hover { opacity: .75; }
#header h2 { float: right; display: block; margin: 0.5em 0 0; font-family: Geogia, serif; font-weight: normal; }
#header h2 span { font-family: Baskerville,"Goudy Old Style","Palatino","Book Antiqua",serif; font-style: italic; }
#header h3 { clear: both; padding: 5px 0 10px; text-align: center; }
#global-links { clear: right; float: right; margin: 1em 0; }
#global-links li#name { text-shadow: #FFF 1px 1px 0; padding: 0 1em; }
#global-links a { color: #C00; height: 100%; }
#global-links a:hover, #global-links #current_page { text-shadow: #FFF 1px 1px 0; }
#browser .label { color: white; margin: 0; text-align: left; text-transform: none; padding: 0; width: 100%; }
#browser a { background-repeat: no-repeat; background-position: 0 center; padding-left: 30px; }
#browser #chrome { background: url(../images/browsers/Chrome.png) no-repeat 0 center; padding-left: 30px; }
#browser #safari { background: url(../images/browsers/Safari.png) no-repeat 0 center; padding-left: 30px; }
#browser #firefox { background: url(../images/browsers/Firefox.png) no-repeat 0 center; padding-left: 30px; }
#footer { color: white; font-family: Georgia, "Times New Roman", Times, serif; font-style: italic; overflow: hidden; padding: 40px 0; }
#footer .container { margin: 0 auto; }
#footer p { clear: left; 
/*float: left;*/ margin-bottom: 0.4em; }
#footer .links { display: inline; float: right; margin: 0; width: 45%; }
#footer p a { margin-right: .2em; }
#branding-menu strong, #footer strong { color: #fffca9; }
#footer a { color: #CCC; padding: 5px; margin-right: 15px; text-decoration: none; }
#footer a:hover { color: white; background: none; text-decoration: underline; }

/* MAIN NAV
---------------------------------------------------------------------- */
#navigation { clear: both; background: #b60002; height: 35px; width: 100%; margin: 0; border-left: solid 1px #990000; border-bottom: 4px solid #999; }
#navigation li { float: left; border-right: solid 1px #ca0002; height: 35px; }
#navigation #label { border-left: solid 1px #ca0002; display: block; line-height: 35px; padding: 0 1em; text-transform: uppercase; font-size: smaller; color: #fff; }
#navigation li a, #navigation li a:link, #navigation li a:visited { text-decoration: none; display: block; float: left; height: 35px; color: #fff; line-height: 35px; padding: 0 1em; border-right: solid 1px #990000; font-size: 12px; font-weight: bold; outline: none; }
#navigation li a:hover, #navigation li a:focus, #navigation li a:active, #navigation #current_page { background: #990000; color: #fff; }

/* SUBNAV
---------------------------------------------------------------------- */
#header #subnav { float: left; overflow: hidden; padding: 5px 0; position: relative; width: 100%; }
#header #search input[type="text"] { margin: 0; width: 5em; }
#header #search input[type="submit"], #header #search select, #header a.button { margin-top: 0; padding: 5px; }
#subnav .groups, #subnav #search { font-size: 9px; }
#subnav .groups { float: left; margin: 0; }
#subnav #search { float: right; margin: 0; }
#subnav #search p { float: left; height: 30px; line-height: 30px; margin: 5px 15px 0 0; }
#subnav #search .label { display: block; margin-left: 0; text-transform: uppercase; color: #C00; font-weight: bold; }
#subnav #search-box { width: 100px; }

#header #subnav .button { padding: 8px 15px; }
#header .groups input { margin-top: 0; }
#header .seller.groups { width: 600px; }
#header #username, #header #status, #header #seller, #header #buyer, #brand { float: left; margin-right: 10px; margin-top: 0; }
#header #search.admin-search, #header #search.supplier-search { float: left; position: relative; }
#header a.button { margin: 5px 5px 0 0; }

/* FLASH & ERROR MSGS
---------------------------------------------------------------------- */
#flash_notice, #flash_error, #flash_alert, #flash_warning, #flash_info, #errorExplanation, .flash { border: 2px solid; clear: both; font-size: 1.4em; margin: 0 0 0.5em; padding: 15px 10px 15px 75px; background-repeat: no-repeat; background-position: 20px center; }
#flash_notice { color: #264409; background-color: #E6EFC2; background-image: url('/images/messages/success.png'); border-color: #C6D880; }
#flash_error, #flash_alert { color: #8a1f11; background-color: #FBE3E4; background-image: url('/images/messages/error.png'); border-color: #FBC2C4; }
#flash_warning { color: #514721; background-color: #FFF6BF; background-image: url('/images/messages/warning.png'); border-color: #FFD324; }
#flash_info { color: #00538f; background-color: #d3f9fe; background-image: url('/images/messages/info.png'); border-color: #43a7f6; }
.field_with_errors { display: inline; }
.field_with_errors input, .field_with_errors select { border: 2px solid #D8000C; background-color: #fefce1; }
#errorExplanation { color: #D8000C; background-color: #fefce1; background-image: url('/images/messages/info.png'); margin: 10px 0 20px; padding: 15px 10px 15px 70px; text-align: left; }
#errorExplanation h2 { color: #000; text-align: left; font-weight: bold; font-size: 14px; padding-bottom: .5em; }
#errorExplanation p { font-size: 12px; margin: 0.5em 0; display: none; }
#errorExplanation ul { margin: 2px; padding-left: 1em; }
#errorExplanation ul li { font-size: 12px; list-style: disc; }
.error_messages { clear: both; width: 400px; border: 2px solid #CF0000; padding: 0px; padding-bottom: 12px; margin-bottom: 20px; background-color: #f0f0f0; font-size: 12px; }
.error_messages h2 { text-align: left; font-weight: bold; padding: 5px 10px; font-size: 12px; margin: 0; background-color: #c00; color: #fff; }
.error_messages p { margin: 8px 10px; }
.error_messages ul { margin: 0; }
.error_messages ul li { list-style: square inside; margin-left: 10px; }

/* PAGINATION
---------------------------------------------------------------------- */
#content-main .pagination { clear: both; position: relative; float: left; margin: 0 10px 0 0; }
#content-main .pagination a:link, #content-main .pagination a:visited, #content-main .pagination a:hover, #content-main .pagination a:active, #content-main .pagination em { background-color: #FFFFFF; border: 0; margin-right: 1px; padding: 2px 5px; text-decoration: none; color: #999; }
#content-main .pagination a:hover { background-color: #999; color: #FFF; }
#content-main .pagination span { color: #CCC; margin-right: 1px; padding: 2px 5px; }
#content-main .pagination span.current, #content-main .pagination em { background-color: #C00; color: #FFF; }
#page-info { float: left; padding: 0; }
.sorting { float: right; }

/* FORMS 
---------------------------------------------------------------------- */
fieldset { clear: both; padding: 1.4em; border: 1px solid #ccc; margin: 10px 0; position: relative; }
legend { font-weight: bold; font-size: 1.2em; padding: 0.4em 0.8em; background: #cc0000; color: #fffeff; margin-bottom: 15px; }
label { font-weight: bold; }
input, textarea, select { border: 2px solid #ccc; /*margin-top: 0.5em;*/ padding: 5px; }
input:hover, textarea:hover, select:hover { border-color: #6B9D28; }
input:focus, textarea:focus, select:focus { border-color: #6B9D28; }
input[type=hidden] { display: none; }
input#datepicker, input.datepicker { margin-right: 10px; }

.simple_form { clear: both; width: 100%; }
.simple_form div { clear: both; float: left; margin-bottom: 15px; width: 100%; }
.simple_form label.required { color: #C00; }
.simple_form label { float: left; width: 30%; }
.simple_form .check_boxes div, .simple_form .radio div { clear: none; float: left; width: 50%; }
.simple_form label.check_boxes { font-size: 2em; font-weight: normal; }
.simple_form input.check_boxes, .simple_form input.radio { clear: both; float: left; margin-right: 10px; }
.simple_form input.string, .simple_form input.password,.simple_form textarea, .simple_form select { /*float: left;*/ margin: 0; }
.simple_form .error { clear: left; margin-left: 30%; font-size: 12px; color: #D00; display: block; }
.simple_form .hint { clear: left; margin-left: 30%; font-size: 12px; color: #555; display: block; font-style: italic; }
.simple_form .datetime { margin-left: 0; margin-right: 0; }
form.user, form.car_variant { width: 60%; }
#label_new_city { margin-left: 30%; width: 70%;}
#entry_new_city { clear: both; margin-left: 30%; }
#content-main #order_submit, #content-main #user_submit, #content-main #car_variant_submit { margin-left: 30%; }
#entry_final_submit { float: right; }
#company_submit, #line_item_submit { margin-left: 30%; margin-top: 10px;}
#user_new #user_submit { margin: 0; }
/*#step-back { float: left; }*/
#car_variant_name, #entry_car_variant_id { border-color: #C00; font-size: 1.2em; }

/* BUTTONS
---------------------------------------------------------------------- */
input[type="submit"], input[type="button"], #content-main .button, form.formtastic input[type="submit"], .button, #attachments .add_nested_fields { background: #5C5C5C url(../images/btn_bkg.png) repeat-x scroll 0 0; border: medium none; border-radius: 7px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); color: #FFFFFF !important; cursor: pointer; display: inline-block; font-weight: bold; margin: 0 5px 0 0; padding: 8px 15px; /*position: relative;*/ text-decoration: none !important; text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3); }
input[type="submit"], input[type="button"], form.formtastic input[type="submit"] { padding: 10px 15px; }
input[type="submit"]:hover, input[type="button"]:hover, #content-main  .button:hover, form.formtastic input[type="submit"]:hover, .button:hover, 
#attachments .add_nested_fields:hover { background-color: #6B9D28 /*#D02200*/; text-decoration: none; border-bottom: 0; }

#content-main #print-preview { border-radius: 6px; border: 1px solid #dcdcdc; color: #333; float: right; font-weight: bold; padding: 12px 24px; text-decoration: none;  background: #CCC url(../images/base/print.gif) no-repeat center center;  text-indent: -9999px; width: 100px; }
#content-main #print-preview:hover, #content-main #cancel-button:hover { background-color: #f6f6f6; }
#content-main #print-preview:active { position: relative; top: 1px; }

#content-main .aside #feature-button:hover, #content-main #feature-button:hover { background-color: #D02200; }
#content-main #feature-button, #content-main .green-button { color: white !important; background-color: #6B9D28; }
#content-main #cancel-button { background-color: #CCC; background-image: none; color: black !important; float: right;}

#content-main #relist-button, #content-main #reveal-bids-button, #content-main .red-button { background-color: #D02200;  }
#content-main .green-button:hover, #content-main .red-button:hover { background-color: #5C5C5C }
#content-main #relist-button, #content-main #reveal-bids-button { font-size: 16px; }

#add-parts-button, #cancel-edit-button { float: left; }

/* VEHICLE
---------------------------------------------------------------------- */
.vehicle-set { clear: both; float: left; margin-bottom: 20px; width: 40%; }
.vehicle-set li { clear: both; }
.vehicle-set li span { font-weight: bold; color: #999; display: block; float: left; width: 40%; }
#deliver-to, #term { font-size: 1.2em; font-weight: bold; margin-top: 8px; }

/* PHOTOS
---------------------------------------------------------------------- */
.photo { float: left; padding: 5px; background-color: white; border: 1px solid #CCC; height: 60px; width: 80px; }
.photo:hover { border: 1px solid #5f6252; -moz-box-shadow: 0 0 4px #999999; -webkit-box-shadow: 0 0 4px #999999; }
.photo-set { float: right; margin-bottom: 20px; width: 59%; }
.photo-set ul { border: 1px solid #CCC; max-height: 150px; overflow: auto; padding: 10px;}
.photo-set ul li { float: left; margin: 0 5px 10px 0; }
#add-photo-button { clear: both; float: left; }

/* TABLE FORMATS
---------------------------------------------------------------------- */
table { margin: 0 0 1.5em; width: 100%; text-align: left; overflow: hidden; }
table th { font-size: 1.2em; font-weight: bold; padding: 10px 8px; border-bottom: 2px solid #999; text-align: center; vertical-align: middle; }
table td { border-bottom: 1px solid #ccc; padding: 6px 8px; }
table p { margin: 0; }
table .totals { font-size: 1.5em; font-weight: bold; padding-top: 10px; padding-bottom: 10px; text-transform: uppercase; }
tr:last-child { border-bottom: 2px solid #999; }
tr.selection-total, tr.accept-decline { border-bottom: 0; }
th.bid-box, th.status { background-color: #797979; color: #FFF; }
th strong, th .strong { color: #fff6bf; font-size: 1.5em; }
td.bid-box, td.status { background-color: #eaeaea; text-align: center; }
.vehicle { width: 40%; }
.vehicle #details, .vehicle .details { float: left; margin-left: 10px; width: 260px; }
.terms, .delivery, .requirements { text-align: left; width: 20%; }
.delivery p, .requirements p { margin-left: 60px; }
.requirements a, .terms a { font-size: 1.5em; }
.status { width: 40%; text-align: center; }
.status p, .status form, .details p { margin-bottom: 5px; }
.status a { border: 0; margin: 0; padding: 2px 6px; }
.status .green { padding: 4px 8px; }
.qty { width: 10%; text-align: center; }
.partname { text-align: left; }
.price { width: 20%; text-align: right; padding: 10px 8px 10px 0; }
.message-mark { color: #C00; float: right; right: 10px; }
#main-bids p span { font-weight: bold; color: #999; display: block; float: left; margin-left: -60px; width: 30%; }
#admin-stuff { font-size: .9em; }
#admin-stuff a { margin: 0px 5px; padding: 0; }

.part .qty { float: left; width: 10%; }
.part .name { float: left; width: 90%; }

/* ENTRY#NEW
---------------------------------------------------------------------- */
#select-parts-box, #entry-create { clear: both; }
#entry-create td { padding: 8px; }
#entry-create p { float: left; }
#entry-create input { margin-top: 0; text-align: center; }
#entry-create a.button, #entry-create input[type="submit"] { font-size: 12px; padding: 4px 12px; margin: 0; }
#entry-create .temporary { color: #C00; font-size: 18px; text-align: center; }
#entry-create .add-link, #entry-create .remove-link, #entry-create .delete-link { border: 0; margin: 0; padding: 2px 6px; }
#entry-create .qty { font-weight: bold; position: relative; width: 25%; }
#entry-create .qty span { float: left; font-size: 1.2em; width: 100%; }
#entry-create .partdesc { text-align: left; width: 75%; }
#entry-create .partname { float: left; font-weight: bold; margin-bottom: 8px; width: 100%; }
#entry-create .partnum { color: #C00; }
#entry-create #change-partnum-button { margin-left: 5px; }
#entry-create td.bid-box { color: #6B9D28; font-size: 18px; }
#entry-create .empty-prompt { font-size: 2em; text-align: center; }
#cart_notice { padding: 10px; }

#select-parts-box { margin-bottom: 30px; }
#select-parts-box label { font-size: 1.5em; width: 100%;}
#select-parts-box #search-box { font-size: 1.2em; margin: 12px 5px 0 0; width: 70%; }
#select-parts-box #finalize-button { font-size: 1.5em; margin-top: -5px;}
/*#select-parts-box p { text-align: center; }*/
/*#select-parts-box .instruction { margin-bottom: 20px; }*/
#parts_list ul { float: left; width: 310px; margin: 0 9px 8px 0; }
#parts_list li { background-color: white; float: left; font-size: 12px; height: 16px; margin: 0 0 5px; padding: 10px; position: relative; text-align: left; width: 95%; }
#select-parts-box li a.button { padding: 2px 8px; position: absolute; right: 10px; top: 8px; }
#parts-pagination-info { clear: both; }
#add-part-box { padding: 20px 5px; text-align: center; width: 100%; }
#add-part-box #car_part_name  { font-size: 1.2em; margin: 12px 5px 0 0; text-align: center; width: 400px; }

#attachments .fields { float: left; width: 45%; margin: 4px; padding: 10px; background: #ddd; }
#attachments .fields input { width: 85%; }
#attachments p { margin: 0; }
#attachments .add_nested_fields { clear: both; float: left; margin: 10px 4px 0; }
#attachments #entry_final_submit { margin: 8px 4px 0; }

.button_to { float: right; }
.button_to input { margin: 0 0 0 10px; }


/* ENTRY#SHOW
---------------------------------------------------------------------- */
#entries-show { clear: both; }
#entries-show h4 { margin-bottom: 0.5em; }
#entries-show .bid-labels { display: inline; float: left; width: 25%; margin-right: 2%; min-height: 1.5em; }
#entries-show .bid-selection { border-left: 1px solid white; display: inline; float: left; min-height: 1.5em; width: 72%; }
#entries-show .bid-box span { clear: both; color: #C00; font-size: 18px; min-height: 2.5em; line-height: 2.5em; }
#entries-show .bidder-count { background-color: white; float: left; min-height: 3em; padding: 2px 0; width: 50%; }
#entries-show .number { font-size: 1.2em; }
#entries-show .bid-type { float: left; min-height: 1.5em; padding: 2px 0; width: 49%; }
#entries-show .bid-field { min-height: 1.5em; }
#entries-show th .bid-field { text-align: center; }
#entries-show .bid-field span { display: inline-block; font-size: 0.8em; line-height: 1em; min-height: 1em; width: 30%; }
#entries-show .orig { clear: both; }
#accept-decline { text-align: center; }
#accept-decline .instruction { margin-bottom: 10px; }

.bid-box .mild-alert { margin-top: 0; margin-bottom: 10px; }

/* MESSAGES
---------------------------------------------------------------------- */
#message-box { clear: both; border-top: 1px solid #CCC; border-bottom: 1px solid #CCC; margin-bottom: 20px; padding: 10px 0 15px; width: 100%; }
#msg-list { float: left; margin-bottom: 10px; overflow: hidden; width: 100%; }
#msg-list #private { float: left; width: 48%; }
#msg-list #public { float: right; width: 48%; }
#msg-list h3, #msg-list h4 { text-align: center; margin-bottom: 10px; }
#msg-list .msg-link { margin-right: 5px; }
#msg-list ul { margin: 0; padding: 0; max-height: 200px; overflow: auto; }
#msg-list li { background-color: white; margin-bottom: 10px; overflow: hidden; padding: 8px; position: relative; }
.creator, .comment { display: block; width: 100%;}
.creator { border-bottom: 1px solid #CCC; font-weight: bold; margin-bottom: 4px; padding-bottom: 4px; }
.comment { font-size: 1.2em; }
.datetime { color: #999; margin: 0 10px; }
#msg-list .nested { height: auto; margin: 10px 0 0 15px; }
#msg-list .nested li { margin-bottom: 0; }
#msg-list .nested .creator { background: url(../images/arrow_right.png) no-repeat scroll left center;padding-left: 15px; }
#msg-list .nested .nested li { overflow: visible; }
#msg-fields { clear: both; text-align: center; }
#msg-fields label { color: #C00; display: block; text-transform: uppercase; width: 100%; }
#msg-fields textarea { clear: both; font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; float: none; height: 40px; width: 50%; }
#confirmation { font-size: 1.2em; margin: 10px 0; padding: 10px 0; }
#msg-snippet { border: 1px dotted #CCC; margin: 0 auto; padding: 5px; text-align: left; overflow: hidden; width: 50%; }
#msg-snippet .msg-label { color: #C00; text-transform: uppercase; }
#msg-snippet .msg-user { font-weight: bold; }
#msg-snippet .msg { font-size: 1.2em; margin-left: 15px; }

/* ORDERS & PAYMENTS LISTS
---------------------------------------------------------------------- */
#orders-list th.items { text-align: left; }
#orders-list .vehicle { width: 30%; }
#orders-list .qty { text-align: left; }
#orders-list .amount { text-align: left; width: 15%; }
#orders-list .stat { text-align: center; width: 30%; }
#orders-list .stat .highlight { margin-bottom: 5px; }
#orders-list .total { font-size: 14px; margin-bottom: 5px; }
#order-total, #supplier-total { clear: both; float: left; margin-right: 25px; }
#payment-reminder { float: right; }

/* PURCHASE ORDERS
---------------------------------------------------------------------- */
#transaction { clear: both; float: left; overflow: hidden; width: 47%; min-height: 200px; margin: 0 10px 20px 0; }
#delivery { border-left: 1px solid #999; float: left; width: 47%; padding-left: 20px; margin-bottom: 1.5em; }
#transaction.create { border-right: 1px solid #999; margin-right: 0; padding-right: 30px; }
#delivery.create { border: 0; }
#delivery div input, #delivery div textarea { width: 300px; }
#transaction h2, #delivery h2, #order h2 { clear: both; line-height: 2em; border-bottom: 1px solid #999; }
#transaction .who { color: #C00; font-weight: bold; }
#transaction .vehicle-set { width: 100%; margin-bottom: 2em; }
#transaction .full-name { margin-top: 1.2em; font-weight: bold; }
#buyer-company, #supplier-company { float: left; overflow: hidden; width: 50%; }
#supplier-company.multiple { clear: both; background-color: #FFF6BF; }
#buyer-company h3, #supplier-company h3 { font-size: 1em; color: #999; text-transform: uppercase; }
#buyer-company h4, #supplier-company h4 { margin-bottom: 0.8em; }
#delivery form li { margin-bottom: 15px; }
#delivery label { display: block; float: left; width: 29%; }
#delivery abbr { color: #C00; float: right; margin-right: 4px; }
/*#delivery input, #delivery textarea { width: 65%; }*/
#delivery .inline-hints { font-size: 12px; }
#delivery .inline-errors { color: #C00; font-weight: bold; }
#del-instructions { width: 450px; }
#del-instructions li { clear: both; padding-left: 140px; }
#del-instructions span { font-weight: bold; color: #999; display: block; float: left; margin-left: -140px; width: 30%; }
#del-instructions #address, #del-instructions #date-released, #del-instructions #date-delivered { padding-top: 20px; }
#del-instructions #overdue, #del-instructions #date-paid { color: #C00; font-size: 1.2em; font-weight: bold; padding-top: 20px; }
#del-instructions #instr { border-top: 1px dotted black; border-bottom: 1px dotted black; font-weight: bold; margin-top: 20px; padding-top: 5px; padding-bottom: 5px; overflow: hidden; }
#del-status { background-color: #FFF6BF; clear: both; color: #C00; padding: 10px 0; text-align: center; }
#order { clear: both; margin: 1.5em 0; width: 100%; }
#order .vehicle-set { margin: 0 0 2em; width: 100%; }
#order .vehicle-set li { clear: both; float: left; width: 100%; }
#order .vehicle-set li span { width: 20%; }
#order td { padding-top: 15px; padding-bottom: 15px; position: relative; }
#order .bid-type, .order .bid-type { color: #C00; display: inline; float: right; font-size: 11px;}
.parts-set { float: left; width: 100%; margin: 2em 0; }
.selection-total td { font-size: 1.5em; font-weight: bold; color: #C00; text-align: right; padding: 10px 8px 10px 0; border-bottom: none; }

#content-main a#view-vehicle-button { float: left; margin-bottom: 20px; }
#order h3#order-msg { clear: both; margin-bottom: 10px; }
#order h4 { text-align: left; }
#order #creator { width: 9%;  }
#order #comment { width: 85%; margin-right: 10px; }
#order #datetime { margin-right: 10px; width: 15%; }

#cancel-order div { text-align: center; }
#cancel-order label { color: #C00; padding: 15px 0; text-transform: uppercase; width: 100%; }
#cancel-order textarea { font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;float: none; height: 40px; width: 50%;}

/* SUPPLIER - PLACE BIDS
---------------------------------------------------------------------- */
#item-bids { clear: both; margin: 4em 0 1em; }
.bid-box { width: 60%; overflow: hidden; text-align: center; }
.bid-box span { color: #C00; }
.bid-box .fields, .bid-box #amounts { clear: both; overflow: hidden; }
.bid-box .bid-field, .bid-box .bid-amount { float: left; display: inline; width: 32%; min-height: 2.5em; padding: 2px; text-align: right; }
.bid-box input.quote { text-align: right; }
.bid-box input[type="radio"] { margin-right: 5px; }
.bid-box .bid-amount { min-height: 1.5em; }
.bid-box .status { float: left; margin-left: 15px; }
.bid-box p.instruction { margin: 5px 0; }
#bidding-message { clear: both; padding: 15px 25px; text-align: center; }

.status .stat { padding: 4px; } /*for seller archives*/

/* SUPPLIER - MONITOR BIDS
---------------------------------------------------------------------- */

#supplier-bids th.vehicle, #supplier-bids th .part { text-align: left; }
#supplier-bids .vehicle { width: 20%; }
#supplier-bids .vehicle a { font-size: 1em; }
#supplier-bids .vehicle + td { width: 80%; }
#supplier-bids .vehicle .strong { font-size: 1em; }
#supplier-bids .vehicle .button { margin-top: 15px; }
#supplier-bids .part { clear: both; float: left; margin-bottom: 5px; width: 25%; }
#supplier-bids .bid-group { float: left; margin-left: 2%; margin-bottom: 10px; position: relative; width: 73%; }
#supplier-bids td .bid-group { min-height: 4.5em; }
/*#supplier-bids*/ .amount { width: 32%; }
#supplier-bids .original { clear: both; position: absolute; left: 0;  }
#supplier-bids .replacement { left: 188px; position: absolute;  }
#supplier-bids .surplus { left: 373px; position: absolute;  }
#supplier-bids .vals { float: left; font-size: 14px; text-align: center; position: relative; width: 55%; }
#supplier-bids .stat { float: right; text-align: center; width: 42%;}
#supplier-bids .amount .instruction { clear: both; margin-bottom: 5px; text-align: center; }

#supplier-bids .info { margin: 0 0 10px; padding: 5px 0; text-align: center; width: 100%; }
#supplier-bids .orig, #supplier-bids .rep, #supplier-bids .surp { float: left; min-height: 4em;}
#supplier-bids .rep, #supplier-bids .surp { margin-left: 2%; }
#supplier-bids hr { margin-top: 0;}
#supplier-bids hr:last-child { display: none; }

/* FEES
---------------------------------------------------------------------- */
h2.highlight { clear: both; }
form.groups.highlight { padding: 2px 0; }
#buyer-fees .fee, #supplier-fees .fee { font-size: 1.2em; font-weight: bold; }
#buyer-fees .fee .instruction,#supplier-fees .fee .instruction { font-size: 11px; font-weight: normal; }
table .totals { font-size: 1.5em; font-weight: bold; padding-top: 10px; padding-bottom: 10px; text-transform: uppercase; }
#buyer-fees th.vehicle, #buyer-fees th .part { text-align: left; }
#buyer-fees .vehicle { width: 20%; }
#buyer-fees .vehicle .strong { font-size: 1em; }
#buyer-fees .vehicle .button { margin-top: 15px; }
#buyer-fees .vehicle + td { width: 80%; }
#buyer-fees .part, #buyer-fees .fee-type, #buyer-fees .lowest-bid, #buyer-fees .speed, #buyer-fees .rate, #buyer-fees .fee { display: inline; float: left; line-height: 20px; min-height: 18px; }
#buyer-fees .part { clear: both; width: 25%; }
#buyer-fees .fee-type, #buyer-fees .lowest-bid, #buyer-fees .speed, #buyer-fees .rate, #buyer-fees .fee { margin-left: 5px; text-align: right; }
#buyer-fees .lowest-bid, #buyer-fees .fee-type, #buyer-fees .speed { width: 15%; }
#buyer-fees .rate { width: 10%; }
#buyer-fees .fee { width: 15%; }
#buyer-fees .fee-type { text-align: center; }
#supplier-fees th.vehicle, #supplier-fees th .part { text-align: left; }
#supplier-fees .vehicle { width: 20%; }
#supplier-fees .vehicle a { font-size: 1em; }
#supplier-fees .vehicle + td { width: 80%; }
#supplier-fees .po-group a { display: inline; float: right; margin-right: 0; }
#supplier-fees .po-group { clear: both; margin-top: 10px; margin-bottom: 10px; overflow: hidden; }
#supplier-fees .part, #supplier-fees .amount-paid, #supplier-fees .speed, #supplier-fees .rate, #supplier-fees .fee { display: inline; float: left; line-height: 18px; min-height: 20px; }
#supplier-fees .part { clear: both; width: 25%; }
#supplier-fees .amount-paid, #supplier-fees .fee, #supplier-fees .speed, #supplier-fees .rate { margin-left: 5px; text-align: right; }
#supplier-fees .amount-paid, #supplier-fees .fee { width: 15%; }
#supplier-fees .speed { width: 20%; }
#supplier-fees .rate { width: 10%; }

/* RATINGS#INDEX
---------------------------------------------------------------------- */
#ratings-index .order { text-align: center; width: 10%; }
#ratings-index .rater, #ratings-index .ratee { text-align: left; width: 12%; }
#ratings-index .stars { text-align: center; width: 15%; }
#ratings-index .review { background-color: #FFF6BF; width: 51%; }
#ratings-index td .review { text-align: left; }

/* RATINGS#NEW & #SHOW
---------------------------------------------------------------------- */
.second.rating { float: right; }
.rating p { margin-bottom: 1.1em; }
.rating .label, .rating label, #show-rating .label { color: #999; font-weight: bold; text-transform: uppercase; }
.rating .name { color: #C00; font-size: 1.5em; }
.rating textarea { clear: both; }
#content-main .stars div a { background: transparent url(../images/stars/sprite_rate.png) 0 0 no-repeat; display: inline-block; height: 23px; margin-bottom: 1.5em; padding: 0;  width: 12px; text-indent: -999em; overflow: hidden; }
#content-main .stars a  { border-bottom: 0; }
#content-main .stars a.rating-right { background-position: 0 -23px; padding-right: 6px; }
#content-main .stars a.rating-over { background-position: 0 -46px; }
#content-main .stars a.rating-over.rating-right { background-position: 0 -69px; }
#content-main .stars a.rating { background-position: 0 -92px; }
#content-main .stars a.rating.rating-right { background-position: 0 -115px; }
#show-rating p { float: left; margin-bottom: .5em; height: 1.4em; line-height: 1.4em; }
#show-rating .label { clear: both;  }

/* BUYER & SUPPLIER - DASHBOARD
---------------------------------------------------------------------- */
.dash { display: inline; float: left; margin-right: 2%; width: 31.2%; }
.dash.last { margin-right: 0; }
.dash.notices { width: 65%; }
.dash h3 { background-color: #e5e5e5; padding: 8px 0; text-align: center; }
#entries, #expired, #expired-2, #expired-3, #declined, #order-items, #order-items2, #delivered, #last-bid, #new-orders, #closed, #feature, #missed-oppty { border-bottom: 1px solid #e5e5e5; padding-bottom: 10px; }
.dash-entry { clear: both; height: 20px; line-height: 20px; margin: 0 0 10px; position: relative; }
.dash-entry strong { float: left; width: 30%; }
.dash-entry .count { position: absolute; right: 0; font-size: 18px; }
.dash-entry .count.highlight { background-color: #FFF6BF; color: #C00; }
#content-main .dash-entry .link { font-weight: normal; position: absolute; right: 50px; padding: 0 4px; opacity: 1; }
.dash.supplier, .dash.admin, .dash.rating { width: 49%; }
.dash.supplier .dash-entry strong { width: 35%; }
.dash.supplier #within-term, .dash.supplier #overdue, .dash.supplier #paid-pending, .dash.supplier #paid, .dash.supplier #closed, #total-bided, #missed-oppty, #order-items2 { padding-left: 25px; }
#content-main .dash.supplier .dash-entry .link { right: 150px; }
.dash.rating p { text-align: center; }
.dash.admin strong { width: 45%;  margin-right: 10px; }
.dash.full { width: 100%; }
.dash.full .dash-entry strong { width: 20%; }

#dash-stats { float: left; margin-bottom: 35px; width: 73%; text-align: right; }
#dash-stats th { background-color: #E5E5E5; border: 1px solid white; font-size: 1.2em; font-weight: normal; }
#dash-stats td { font-size: 16px; border: 0; }
#dash-stats .big { font-size: 2em; }
#dash-stats .label { color: #C00; font-size: 1.1em; font-weight: bold; text-align: left; }
#dash-stats .val { width: 20%; }
#dash-stats .indent { padding-left: 50px; }
#dash-stats .divide { border-bottom: 2px solid #999; }
#dash-stats .instruction { font-size: 12px; margin-right: 15px;}
#dash-stats .divide .instruction { margin-right: 0;  }
#dash-stats .highlight { margin-right: 0; padding: 0 2px; text-align: center;}
#perf-ind p { clear: both; height: 20px; line-height: 20px; text-align: left; }
#perf-ind span { color: #C00; float: left; width: 50%; }

/* ASIDE
---------------------------------------------------------------------- */
.aside { clear: both; float: right; width: 24%; text-align: center; }
.aside div { margin: 0 0 12px; padding: 15px; text-align: center; }
.aside p { margin-bottom: 0; }
#content-main .aside .button { margin-right: 0; margin-bottom: 12px; text-align: center; width: 50%; }
#content-main .aside #feature-button { font-size: 16px; width: 60%; }

/* USERS#INDEX 
---------------------------------------------------------------------- */
#users-index th { text-align: left; }
#users-index .user, #users-index .last { width: 15%; }
#users-index .rating { width: 18%; }
#users-index .rating { text-align: center; }
#users-index .rating p { margin: 0; }
#users-index .birthday, #users-index .roles { width: 10%; }
#users-index .links p { margin: 5px 0; text-align: right; }

/* USERS#SHOW & COMPANIES#SHOW
---------------------------------------------------------------------- */
.first.profile li, .second.usage li, #show-company-info li { clear: both; }
.first.profile li span, .second.usage li span, #show-company-info li span { color: #999; float: left; font-weight: bold; width: 15%;}
#show-company-users li { list-style-position: outside; }
.friend { font-size: 1.5em; }

 /* DIFF TABLE
----------------------------------------------------------------------*/ 

#diff .vehicle { width: 25%; }
#diff .vehicle .button { margin-top: 15px; }
#diff h3 { padding: 10px 0; text-align: center; }
#diff div { float: left; margin-bottom: 5px; min-height: 20px; line-height: 18px; }
#diff td .part { clear: both; }
#diff .part { width: 200px; }
#diff .amounts { margin-left: 10px; width: 490px; }
#diff .labels { clear: both; font-weight: bold; width: 50px; }
#diff .ebid { color: #C00; }
#diff .manual { color: green; }
#diff .amount { margin-left: 10px; text-align: right; width: 135px; }
#diff .no-bid { color: #919191; margin-left: 10px; text-align: center; width: 420px;  }
#diff .company { float: right; color: #C00; font-size: 0.8em; width: 40%;}
#diff hr { margin-top: 0;}
#diff hr:last-child { display: none; }
#canvass_company_id { font-size: 1em; margin-right: 10px;}

.dash.diff  { width: 100%; font-size: 1.2em;}
#diff .dash-entry strong { width: 40%; }
#diff #w-ebid, #diff #manual-only, #diff #no-price { padding-left: 15px; }
#diff #ebid-manual, #diff #ebid-only { padding-left: 30px; }
#diff #ebid-lower, #diff #ebid-higher, #diff #same { padding-left: 60px; }

#diff-stats { clear: both; font-size: 18px; width: 100%; }
#diff-stats dt { clear: both; float: left; width: 30%; }
#diff-stats dd { float: left; text-align: right; width: 30%; }
#diff-stats .survey-count { margin-top: 20px; }

#diff-table { margin-top: 15px; text-align: center; }
#diff-table th, #diff-table td { color: black; border: 1px solid #000; }
#diff-table .column { width: 432px; }
#diff-table .row { height: 432px; }
#diff-table h4 { font-weight: bold; }
#diff-table b { display: block; font-weight: bold; margin: 5px 0 0; }
#diff-table span { font-size: 1.2em; }
#diff-table p.impt { font-size: 1em; margin: 0 auto; padding: 2px; width: 135px; }
#diff-table div { float: left; margin: 10px 10px 0 0; width: 135px; }
#diff-table #last { margin-right: 0; }
#diff-table .label { border-bottom: 1px solid #C00; color: #C00; font-size: 1.1em; padding-bottom: 4px;}
#diff-table .number { color: #919191; font-size: 1.5em; font-weight: bolder; margin-top: 10px; }

/* ADMIN UTIL
---------------------------------------------------------------------- */
#utilities .task { width: 50%; }
#utilities .description { width: 50%; }

/* HOME PAGE
---------------------------------------------------------------------- */
#branding-menu { background-color: #911D00; color: white; font-family: 'Myriad Pro', 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif; height: 90px; overflow: hidden; border-bottom: 5px solid #CCC; padding: 10px 0;}
#branding-menu p { float: right; font-size: 14px; line-height: 18px; margin: 30px 0; }
#branding-menu p a { margin-left: 10px; }
#branding-top { font-family: 'Myriad Pro', 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif; padding: 10% 0 20px; position: relative; }
#branding-top #logo { background: transparent url(../images/base/ebidlogo.png) no-repeat; clear: both; height: 95px; opacity: 1; text-indent: -9999px; width: 100px; }
#branding-top img { border: 2px solid #a9a9a9; height: 275px; width: 484px; position: absolute; padding: 8px; right: 0; top: 15%; }
#branding-top h2 { clear: both; float: left; display: inline; font-size: 3em; font-weight: normal; line-height: 1.2em; width: 450px; margin-bottom: 12%; }
#branding-top p, #call-to-action p, #reg-instruction { border-top: 1px dotted #cacaca; border-bottom: 1px dotted #cacaca; clear: both; color: #919191; font: italic 2em/1.6em Georgia, "Times New Roman", Times, serif; padding: 8px 0 15px; text-align: center; }
#reg-instruction { text-align: left; }
#branding-top em, #branding-bottom .small em { padding-bottom: 4px; border-bottom: 2px solid #919191; }
#branding-bottom { font-family: 'Myriad Pro', 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif; margin: 10px 0 10%; overflow: hidden; }
#branding-bottom h2 { opacity: 0.9; background-color: white; padding: 8px; text-align: center; }
#branding-bottom .buyer h2 { color: #BE9B4D; }
#branding-bottom .supplier h2 { color: #911D00; }
#branding-bottom h3 { color: #cacaca; }
#branding-bottom .box { width: 410px; padding: 25px; color: white; }
#branding-bottom .buyer { float: left; background-color: #BE9B4D; }
#branding-bottom .supplier { float: right; background-color: #911D00; }
#branding-bottom p, #branding-bottom li { font-size: 14px; margin-bottom: 0.8em; }
#branding-bottom ul { text-align: left; }
#branding-bottom ul.benefits { height: 340px; }
#branding-bottom ul.who-join { height: 250px; }
#branding-bottom li { list-style-type: disc; list-style-position: outside; margin-left: 20px; padding-left: 10px; }
#branding-bottom .small { margin-top: 15px; font-size: 12px; }
#call-to-action { clear: both; margin: 20px 0; }
#call-to-action #signup { display: block; height: 50px; width: 200px; background: url(../images/base/signup.png) no-repeat; text-indent: -9999px; margin: 10px auto; }
#call-to-action #signup:hover { background-position: -701px 0; }

/* ABOUT PAGE
---------------------------------------------------------------------- */
#about-company { clear: both; display: inline; float: left; font-family: 'Myriad Pro', 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif; font-size: 14px; margin-right: 20px; width: 620px; }
#about-company .intro { font-size: 1.2em; }
#about-company .highlight { font-weight: bold; }
#about-company img#ebidcommunity, #about-company img#sweetspot { margin: 0 auto 2em; }
#about-people { background-color: #FFF6BF; border: 1px solid #CCC; float: right; font-family: 'Myriad Pro', 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif; width: 278px; padding: 20px; }
#about-people h3 { color: #C00; margin-bottom: 0.3em; }
#about-people .position { font-style: italic; }

/* FAQs
---------------------------------------------------------------------- */
#faq { width: 70%; font-size: 1.2em; }
#faq dt { font: italic 1.4em/1.5em Georgia, "Times New Roman", Times, serif; color: #CC0000; margin-bottom: 10px; }
#faq dd { margin-bottom: 20px; }
#faq .first { color: #919191; font-weight: bold; padding: 0 0 0 20px; border: none; margin: 0; width: 80px; min-height: 0; }
#faq li { list-style-type: disc; list-style-position: outside; margin: 0 0 10px 130px; padding-left: 20px; }
#faq ul.regular li { margin-left: 40px; }

/* PRINTING STYLES
---------------------------------------------------------------------- */
@media print {
	body { border-top: 0; color: black; }
	body, table td.bid-box, .bid-field { background-color: transparent; }
	h2#slogan, #secondary, .menu, #search-form, .pagination, #footer, .page-links, .page-links a, table a, .button, #navigation, #global-links, #subnav { display: none; }
	.selection-list { font-size: 1.2em; font-weight: bold; }
	#order .photo, #show-comments form, #del-status, .photo-set, .spinner span { display: none; }
	#order .vehicle-set span { color: black; }
	.container { padding: 30px; }
	table .bid-box { background: 0; }
	table#item-bids { font-size: 1.5em; }
}
