/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.



--------------------------------------------------------------------------------------------------*/

form.formtastic fieldset { padding: 1.4em 0 0; }
form.formtastic legend { background-color: white; font-weight: normal; font-size: 1em;}
form.formtastic.user legend {
	font-weight: bold;
	font-size: 1.2em;
	padding: 0.4em 0.8em;
	background: #cc0000;
	color: #fffeff;
	
}
form.formtastic fieldset ol li label { width: 30%; }
form.formtastic fieldset ol li p.inline-hints { 
	color: #333; 
	font-style: italic;
	font-size: 11px; 
	margin-left: 30%;
}
form.formtastic input, form.formtastic textarea, form.formtastic select { 	
	padding: 5px;
	border: 2px solid #ccc;
}
form.formtastic fieldset.buttons { margin-left: 30%; padding-left: 0; } 
form.formtastic fieldset.buttons li { padding-right: 0; }
form.formtastic fieldset.buttons ol { height: 3.5em; line-height: 3.5em; overflow: hidden;}
form.formtastic fieldset.buttons ol li.commit { margin: 0 10px 0 0;}
form.formtastic fieldset.buttons ol li { overflow: hidden;}

form.formtastic fieldset ol li label abbr { float: right; color: #cc0000; margin-right: 4px;}
form.formtastic fieldset ol li p.inline-errors { margin-left: 30%;}
form.formtastic fieldset ol li.error input, form.formtastic fieldset ol li.error select { background-color: #fefce1; }

form.formtastic fieldset ol li fieldset legend { width: 30%; }
form.formtastic fieldset ol li fieldset ol { width:70%; padding:0 0 0 30%; }

.second li fieldset { padding: 5px 0;}

form.formtastic fieldset > ol > li fieldset, 
form.formtastic fieldset > ol > li.check_boxes fieldset ol li label { overflow: hidden; }
