body { font-family: Verdana, Arial, Tahoma; font-size: 11px; color: #000000; padding: 0; margin: 0;}
ul { margin: 0; padding: 0; }
li { list-style-type: none;  }
#print-header { border-bottom: 1px solid black; margin: 0px auto; overflow: hidden; position: relative; width: 800px;  }
#print-header h1 { height: 95px; background: transparent url(../images/base/ebidlogo.jpg) no-repeat; margin: 0; text-indent: -9999px; overflow: hidden;  }
#print-nav { float: left; margin: 0; padding: 0; position: absolute; bottom: 5px; right: 0; }
#print-nav li { float: left; display: inline; height: 30px; line-height: 30px; margin-right: 10px; }
#print-nav li a {  color: black; float: left; padding: 0 8px; text-decoration: none; }
#print-icon { background: url(../images/base/print.gif) no-repeat 8px 6px; text-indent: -9999px; overflow: hidden; width: 62px; }
#print-nav li a:hover { color: #3e4044; background-color: #e5e5e5; -moz-border-radius: 2px; -webkit-border-radius: 2px; }

.container { clear: both; margin: 15px auto; width: 800px; background: transparent; position: relative; overflow: hidden; }
.instruction { font-family: Georgia, "Times New Roman", Times, serif; font-style: italic; }

.vehicle-set { float: left; margin-bottom: 20px; width: 60%; }
.vehicle-set li { clear: both;  }
.vehicle-set li span { font-weight: bold; display: block; float: left; width: 40%; }

#message-box { clear: both; overflow: hidden; }
#message-box h3 { clear: both; }
#message-box ul { float: left; width: 100%; }
#message-box li { float: left; margin: 0 0 10px 0; width: 100%;}
/*.creator, .comment { float: left; }
.creator { clear: both; font-weight: bold; margin-right: 10px; width: 15%;  }
.comment { width: 82%; margin-right: 10px; }*/
.datetime { margin-right: 10px; width: 15%; }
.msg-link { display: none; }
#message-box .nested { margin: 10px 0 0 15px; }
#message-box .nested li { margin-bottom: 15px; }
#message-box .nested .creator { background: url(../images/arrow_right.png) no-repeat scroll left center;padding-left: 15px; }
#message-box .nested .nested li { overflow: visible; }

form { display: none; }

table { border-collapse: collapse; margin: 0 auto 1.5em; width: 100%; text-align: center; overflow: hidden; }
th { font-weight: bold; padding: 8px; border-bottom: 1px solid black; }
td { border-bottom: 1px solid black; padding: 6px 8px; }
table p { margin: 0 0 5px; }

.small { color: #919191; font-size: 0.8em; }
.strong { font-weight: bold; }
.qty { width: 10%; }
.partname { text-align: left; }
.bid-box { width: 60%; }
.bid-box h4 { border-bottom: 1px solid #999; margin: 0 0 10px; padding-bottom: 10px;}
.bid-box span { font-weight: bold; min-height: 2.5em; line-height: 2.5em; text-decoration: underline; }
.bid-labels { display: inline; float: left; width: 25%; margin-right: 2%; min-height: 1.5em; }
.bid-selection { border-left: 1px solid white; display: inline; float: left; min-height: 1.5em; width: 72%;}
.bid-type { min-height: 1.5em; text-align: left; }
.bid-field { float: left; display: inline; width: 32%; min-height: 1.5em; text-align: right; }

.part .qty { float: left; width: 10%; }
.part .name { float: left; width: 90%; }

/* PURCHASE ORDER
---------------------------------------------------------------------- */

.first { float: left; overflow: hidden; width: 380px; min-height: 200px;  margin: 0 10px 20px 0;  }
.second { float: right; width: 380px; border-left: 1px solid black; padding-left: 20px; margin-bottom: 1.5em;}
.first h2, .second h2, #message-box h2, #order h2 { clear: both; line-height: 2em; border-bottom: 1px solid black; }
.first .who { color: #C00; }
.first .full-name { margin-top: 1.2em; font-weight: bold; }
.first .highlight, .highlight { background-color: #FFF6BF; padding: 0 10px; }
#buyer-company, #supplier-company { float: left; overflow: hidden; width: 48%; }
#buyer-company { margin-right: 10px; }
#del-instructions li { clear: both; padding-left: 140px; }
#del-instructions span { display: block; float: left; margin-left: -140px; width: 50%; }
#del-instructions #deliver-to, #del-instructions #date-released { font-weight: bold; }
#del-instructions #instr { border-top: 1px dotted black; border-bottom: 1px dotted black; font-weight: bold; margin-top: 20px; padding-top: 5px; padding-bottom: 5px; overflow: hidden;}
#del-instructions #address, #del-instructions #date-released, #del-instructions #date-delivered, #del-instructions #date-paid { padding-top: 20px; }
#del-instructions #overdue, #del-instructions #date-paid { color: #C00; font-weight: bold; }
#del-status { background-color: #FFF6BF; clear: both; color: #C00;  padding: 10px 0; text-align: center; }
#order .bid-type { display: inline; float: right; }
#order .price { width: 18%; text-align: right; padding: 10px 8px 10px 0; }
#order .selection-total { font-weight: bold; font-size: 1.2em; text-align: right; }

/* SUPPLIER - WORKSHEET
---------------------------------------------------------------------- */
#worksheet .vehicle { text-align: left; width: 25%; }
#worksheet div { float: left; }
#worksheet .part { clear: both; margin: 15px 0; text-align: left; width: 40%; }
#worksheet .price { float: left; margin: 15px 0; width: 20%; }
hr { background: black; clear: both; float: none; width: 100%; height: .1em; border: none; }
hr:last-child { display: none; }

/* FEES
---------------------------------------------------------------------- */

#buyer-fees .vehicle, #buyer-fees .part { text-align: left; }
#buyer-fees .vehicle { width: 20%; }
#buyer-fees .vehicle .strong { font-size: 1em; }
#buyer-fees .vehicle .button { margin-top: 15px; }
#buyer-fees .vehicle + td { width: 80%; }
#buyer-fees .part, #buyer-fees .fee-type, #buyer-fees .lowest-bid, #buyer-fees .speed, #buyer-fees .rate, #buyer-fees .fee { display: inline; float: left; line-height: 18px; min-height: 18px; }
#buyer-fees .part { clear: both; width: 25%;}
#buyer-fees .fee-type, #buyer-fees .lowest-bid, #buyer-fees .speed, #buyer-fees .rate, #buyer-fees .fee { margin-left: 5px; text-align: right; }
#buyer-fees .lowest-bid, #buyer-fees .fee-type, #buyer-fees .speed { width: 15%; }
#buyer-fees .rate { width: 10%; }
#buyer-fees .fee { width: 15%;  }
#buyer-fees .fee-type { text-align: center; }

#supplier-fees .vehicle { text-align: left; width: 25%;}
#supplier-fees .part, #supplier-fees .amount-paid, #supplier-fees .speed, #supplier-fees .rate, #supplier-fees .fee { display: inline; float: left; line-height: 18px; min-height: 18px; }
#supplier-fees .part { clear: both;  text-align: left; width: 30%;}
#supplier-fees .amount-paid, #supplier-fees .fee, #supplier-fees .speed, #supplier-fees .rate { margin-left: 5px; text-align: right; }
#supplier-fees .amount-paid, #supplier-fees .fee { width: 18%;  }
#supplier-fees .speed { width: 20%; }
#supplier-fees .rate { width: 10%; }
table .totals { font-weight: bold; padding-top: 10px; padding-bottom: 10px; text-transform: uppercase; } 
.negative { color: #C00; font-weight: normal; }


#print-payments-list { text-align: left; width: 100%;}
#print-payments-list .vehicle { width: 30%; }
#print-payments-list .part, #print-payments-list .stat { width: 35%; }
#print-payments-list .due-date { font-size: .8em; font-weight: bold;}

 /* DIFF TABLE
----------------------------------------------------------------------*/ 

#diff .vehicle { width: 25%; text-align: left; }
#diff .vehicle a.button, #diff .vehicle img  { display: none; }
#diff h3 { margin-top: 0; background-color: none; border: 1px solid black; padding: 5px 0;}
#diff div { float: left; margin-bottom: 5px; min-height: 20px; line-height: 18px; }
#diff td .part { clear: both; }
#diff .part { width: 25%; }
#diff .qty { float: left; width: 10%; }
#diff .name { float: left; text-align: left; width: 90%; }
#diff .amounts { width: 75%; }
#diff .labels { clear: both; font-weight: bold; width: 50px; }
#diff .ebid { color: #C00; }
#diff .manual { color: green; }
#diff .amount { margin-left: 10px; text-align: right; width: 117px; }
#diff .no-bid { color: #919191; margin-left: 10px; text-align: center; width: 370px;  }
#diff .company { float: right; color: #C00; font-size: 0.8em; width: 40%;}
#diff .orange { background-color: white; border: 1px solid black; margin-top: 8px; }
#diff hr { margin-top: 0;}
#diff hr:last-child { display: none; }
#canvass_company_id { font-size: 1em; margin-right: 10px;}

.diff-stats { clear: both; font-size: 12px; margin-bottom: 30px; overflow: hidden; width: 100%; }
.diff-stats dt { clear: both; float: left; width: 30%; }
.diff-stats dd { float: left; text-align: right; width: 30%; }
.diff-stats .survey-count { margin-top: 20px; }

#diff-table { text-align: center; width: 99%; overflow: auto;}
#diff-table th, #diff-table td { color: black; border: 1px solid #000; }
#diff-table .column1 { width: 432px; }
#diff-table .row1 { height: 360px; }
#diff-table h4 { font-weight: bold; }
#diff-table b { display: block; font-weight: bold; margin: 5px 0 0; }
#diff-table span { font-size: 1.2em; }
#diff-table p.impt { font-size: 1em; margin: 0 auto; padding: 2px; width: 135px; }
#diff-table div { float: left; margin: 10px 10px 0 0; width: 135px; }
#diff-table #last { margin-right: 0; }
#diff-table .label { border-bottom: 1px solid #C00; color: #C00; font-size: 1.1em; padding-bottom: 4px;}
#diff-table .number { color: #919191; font-size: 1.5em; font-weight: bolder; margin-top: 10px; }
.green { background-color: #264409; color: #FFF; }
.orange { background-color: orange; }


@media print {
	#print-header, #print-nav, form, #confirmation { display: none; }
}

