/* HOME PAGE
---------------------------------------------------------------------- */
#branding-menu { background-color: #911D00; color: white; font-family: 'Myriad Pro', 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif; height: 90px; overflow: hidden; border-bottom: 5px solid #CCC; padding: 10px 0;}
#branding-menu p { float: right; font-size: 14px; line-height: 18px; margin: 30px 0; }
#branding-menu p a { margin-left: 10px; }
#branding-top { font-family: 'Myriad Pro', 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif; padding: 10% 0 20px; position: relative; }
#branding-top #logo { background: transparent url(../images/base/ebidlogo.png) no-repeat; clear: both; height: 95px; opacity: 1; text-indent: -9999px; width: 100px; }
#branding-top img { height: 275px; width: 484px; position: absolute; padding: 8px; right: 0; top: 15%; }
#branding-top h2 { clear: both; float: left; display: inline; font-size: 3em; font-weight: normal; line-height: 1.2em; width: 450px; margin-bottom: 12%; }
#branding-top p, #call-to-action p, #reg-instruction { border-top: 1px dotted #cacaca; border-bottom: 1px dotted #cacaca; clear: both; color: #919191; font: italic 2em/1.6em Georgia, "Times New Roman", Times, serif; padding: 8px 0 15px; text-align: center; }
#reg-instruction { text-align: left; }
#branding-top em, #branding-bottom .small em { padding-bottom: 4px; border-bottom: 2px solid #919191; }
#branding-bottom { font-family: 'Myriad Pro', 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif; margin: 10px 0 10%; overflow: hidden; }
#branding-bottom h2 { opacity: 0.9; background-color: white; padding: 8px; text-align: center; }
#branding-bottom .buyer h2 { color: #BE9B4D; }
#branding-bottom .supplier h2 { color: #911D00; }
#branding-bottom h3 { color: #cacaca; }
#branding-bottom .box { width: 410px; padding: 25px; color: white; }
#branding-bottom .buyer { float: left; background-color: #BE9B4D; }
#branding-bottom .supplier { float: right; background-color: #911D00; }
#branding-bottom p, #branding-bottom li { font-size: 14px; margin-bottom: 0.8em; }
#branding-bottom ul { text-align: left; }
#branding-bottom ul.benefits { height: 340px; }
#branding-bottom ul.who-join { height: 250px; }
#branding-bottom li { list-style-type: disc; list-style-position: outside; margin-left: 20px; padding-left: 10px; }
#branding-bottom .small { margin-top: 15px; font-size: 12px; }
#call-to-action { clear: both; margin: 20px 0; }
#call-to-action #signup { display: block; height: 50px; width: 200px; background: url(../images/base/signup.png) no-repeat; text-indent: -9999px; margin: 10px auto; }
#call-to-action #signup:hover { background-position: -701px 0; }

/* ABOUT PAGE
---------------------------------------------------------------------- */
#about-company { clear: both; display: inline; float: left; font-family: 'Myriad Pro', 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif; font-size: 14px; margin-right: 20px; width: 620px; }
#about-company .intro { font-size: 1.2em; }
#about-company .highlight { font-weight: bold; }
#about-company img#ebidcommunity, #about-company img#sweetspot { margin: 0 auto 2em; }
#about-people { background-color: #FFF6BF; border: 1px solid #CCC; float: right; font-family: 'Myriad Pro', 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif; width: 278px; padding: 20px; }
#about-people h3 { color: #C00; margin-bottom: 0.3em; }
#about-people .position { font-style: italic; }

/* FAQs
---------------------------------------------------------------------- */
#faq { width: 70%; font-size: 1.2em; }
#faq dt { font: italic 1.4em/1.5em Georgia, "Times New Roman", Times, serif; color: #CC0000; margin-bottom: 10px; }
#faq dd { margin-bottom: 20px; }
#faq .first { color: #919191; font-weight: bold; padding: 0 0 0 20px; border: none; margin: 0; width: 80px; min-height: 0; }
#faq li { list-style-type: disc; list-style-position: outside; margin: 0 0 10px 130px; padding-left: 20px; }
#faq ul.regular li { margin-left: 40px; }

/* BUYER & SUPPLIER - DASHBOARD
---------------------------------------------------------------------- */
.dash { display: inline; float: left; margin-right: 2%; width: 31.2%; }
.dash.last { margin-right: 0; }
.dash.notices { width: 65%; }
.dash h3 { background-color: #e5e5e5; padding: 8px 0; text-align: center; }
#entries, #expired, #expired-2, #expired-3, #declined, #order-items, #order-items2, #delivered, #last-bid, #new-orders, #closed, #feature, #missed-oppty { border-bottom: 1px solid #e5e5e5; padding-bottom: 10px; }
.dash-entry { clear: both; height: 20px; line-height: 20px; margin: 0 0 10px; position: relative; }
.dash-entry strong { float: left; width: 30%; }
.dash-entry .count { position: absolute; right: 0; font-size: 18px; }
.dash-entry .count.highlight { background-color: #FFF6BF; color: #C00; }
#content-main .dash-entry .link { font-weight: normal; position: absolute; right: 50px; padding: 0 4px; opacity: 1; }
.dash.supplier, .dash.admin, .dash.rating { width: 49%; }
.dash.supplier .dash-entry strong { width: 35%; }
.dash.supplier #within-term, .dash.supplier #overdue, .dash.supplier #paid-pending, .dash.supplier #paid, .dash.supplier #closed, #total-bided, #missed-oppty, #order-items2 { padding-left: 25px; }
#content-main .dash.supplier .dash-entry .link { right: 150px; }
.dash.rating p { text-align: center; }
.dash.admin strong { width: 45%;  margin-right: 10px; }
.dash.full { width: 100%; }
.dash.full .dash-entry strong { width: 20%; }


#dash-stats { float: left; margin-bottom: 35px; width: 73%; text-align: right; }
#dash-stats th { background-color: #E5E5E5; border: 1px solid white; font-size: 1.2em; font-weight: normal; }
#dash-stats td { font-size: 16px; border: 0; }
#dash-stats .big { font-size: 2em; }
#dash-stats .label { color: #C00; font-size: 1.1em; font-weight: bold; text-align: left; }
#dash-stats .val { width: 20%; }
#dash-stats .indent { padding-left: 50px; }
#dash-stats .divide { border-bottom: 2px solid #999; }
#dash-stats .instruction { font-size: 12px; margin-right: 15px;}
#dash-stats .divide .instruction { margin-right: 0;  }
#dash-stats .highlight { margin-right: 0; padding: 0 2px; text-align: center;}
#perf-ind p { clear: both; height: 20px; line-height: 20px; text-align: left; }
#perf-ind span { color: #C00; float: left; width: 50%; }

/* TABLES OF ENTRIES
---------------------------------------------------------------------- */
 
th.bid-box, th.status { background-color: #797979; color: #FFF; }
th strong, th .strong { color: #fff6bf; font-size: 1.5em; }
td.bid-box, td.status { background-color: #eaeaea; }
.vehicle { width: 40%; }
.vehicle #details { float: left; margin-left: 10px; width: 260px; }
.terms, .delivery, .requirements { text-align: left; width: 20%; }
.delivery p, .requirements p { margin-left: 60px; }
.requirements a, .terms a { font-size: 1.5em; }
.vehicle #details a { font-size: 1.2em; }
.status { width: 40%; text-align: center; }
.status p, .status form { margin-bottom: 5px; }

.qty { width: 10%; text-align: center; }
.partname { text-align: left; }
.price { width: 20%; text-align: right; padding: 10px 8px 10px 0; }
.cancel { color: #CCC; text-align: center; width: 5%; }

#admin-stuff { font-size: .9em; }
#admin-stuff a { margin: 0px 5px; }

#main-bids p span { font-weight: bold; color: #999; display: block; float: left; margin-left: -60px; width: 30%; }

#entries-show { clear: both; }
#entries-show h4 { margin-bottom: 0.5em; }
#entries-show .bid-labels { display: inline; float: left; width: 25%; margin-right: 2%; min-height: 1.5em;}
#entries-show .bid-selection { border-left: 1px solid white; display: inline; float: left; min-height: 1.5em; width: 72%;}
#entries-show .bid-selection span { font-size: 18px; min-height: 2.5em; line-height: 2.5em; }
#entries-show .bidder-count { background-color: white; float: left; min-height: 3em; padding: 2px 0; width: 50%; }
#entries-show .number { font-size: 1.2em; }
#entries-show .bid-type { float: left; min-height: 1.5em; padding: 2px 0; width: 50%; }

#entries-show .bid-field { min-height: 1.5em; }
#entries-show th .bid-field { text-align: center; }
#entries-show .bid-field span { font-size: 0.8em; line-height: 1em; }
#entries-show .orig { clear: both; }
#accept-decline { text-align: center; }
#accept-decline .instruction { margin-bottom: 10px; }

#content-main #relist-button, #content-main #reveal-bids-button { background-color: #D02200; font-size: 16px; }

/* VEHICLES SETS
---------------------------------------------------------------------- */
.vehicle-set { position: relative; overflow: hidden; float: left; width: 40%; }
.vehicle-set li { clear: both; margin-left: 60px; }
.vehicle-set li span { font-weight: bold; color: #999; display: block; float: left; margin-left: -60px; width: 40%; }
#deliver-to, #term {
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 8px;
}

/* PHOTO SETS
---------------------------------------------------------------------- */
.photo { float: left; padding: 5px; background-color: rgba(255,255,255,0.9); border: 1px solid #CCC; height: 60px; width: 80px; }
.photo-set { float: right; width: 55%; }
.photo-set ul li { float: left; margin: 0 5px 10px 0; }
.photo-set .photo:hover { border: 1px solid #5f6252; opacity: 1; -moz-box-shadow: 0 0 4px #999999; -webkit-box-shadow: 0 0 4px #999999; }

/* CREATE ENTRY - PARTS DB
---------------------------------------------------------------------- */

#cart_notice_box { width: 100%; line-height: 2.5em; margin-bottom: 15px; min-height: 2.5em; color: #C00; font-weight: bold; text-align: center;}
#cart_notice_box p { font-size: 16px; margin: 0; }

#parts { float: left; width: 38%; min-height: 400px; overflow: hidden; padding: 10px; border: 1px solid #CCCCCC; background-color: #FFF6BF; box-shadow: 0 0 4px #999999; margin-bottom: 20px;}
#parts #instructions { margin: 0.5em; padding: 0.5em; background-color: white; }
#parts #instructions li { list-style-position: outside; list-style-type: decimal; }
#parts #search-form { display: block; text-align: center; height: 50px; line-height: 50px; }
#parts #search-form > input { margin-top: 0; margin-right: 5px; }
#parts #search-box { width: 50%; }
#parts p { text-align: center; margin: 0.5em 0; }
#parts li {font-size: 10px; margin: 0.5em 0 0.7em 2em; list-style-type: none; }
#parts .pagination { clear: both; color: #666666; padding: 10px 0; position: relative; text-align: center; float: none; font-weight: normal; font-size: .8em; }

#entry-create { clear: both; }
#entry-create td { padding: 8px; }
#entry-create p { float: left; font-size: 14px; }
#entry-create a.button { font-size: 12px; padding: 2px 12px; }
#entry-create .qty { font-weight: bold; position: relative; width: 15%; }
#entry-create .partname { width: 40%; }
#entry-create .partnum { text-align: left; width: 40%; }
#select-parts-box form { text-align: center; }
#select-parts-box label { font-size: 1.5em; margin-right: 15px; }
#select-parts-box #search-box { font-size: 1.5em; margin-right: 5px; }
#parts_list p { text-align: center; }
#parts_list ul { float: left; width: 310px; margin: 0 10px 8px 0; }
#parts_list li { background-color: white; float: left; font-size: 12px; margin: 0 0 5px; padding: 10px; position: relative; text-align: left; width: 95%; }
#parts_list li a.button { padding: 2px 8px; position: absolute; right: 10px; top: 8px; }
#parts-pagination-info { clear: both; }

/* CREATE ENTRY - CART SELECTION
---------------------------------------------------------------------- */

#selection { float: right; width: 55%; min-height: 400px; padding: 0; /*overflow: hidden;*/ }
#prev-cart, #cart, #add-part-box { clear: both; float: left; margin-bottom: 25px; width: 100%; }
#selection ul, #selection ul form { float: left; margin: 0; width: 100%; }
#selection ul { margin-bottom: 15px; }
#selection h3 { clear: both; padding: 10px 0; text-align: center; width: 100%; }
#selection #cart h3, #selection #prev-cart h3 { background: #797979; color: #FFF; }
.selection-title, .selection-list/*, .vehicle-set h4*/ { overflow: hidden; margin: 0 0 5px; }
.selection-title { border-bottom: 2px solid #999; font-size: 16px; }
.selection-list { border-bottom: 1px solid #ccc; clear: both; display: block; float: left; width: 100%; }
#selection span { float: left; padding: 10px 0 10px 8px; }
#selection input { margin-top: -4px; text-align: center; }
#selection .qty/*, #show-parts .qty*/ { width: 10%; text-align: center; }
#selection .partname { width: 40%; }
#selection .partnum { width: 45%;  }
#selection #cart_notice_box { float: left; width: 70%; }
.button_to { float: right; }
.button_to input { margin: 0 0 0 10px; }
#selection .empty-prompt { clear: both; text-align: center; }
#add-part-box { padding: 20px 5px; text-align: center; width: 500px; }
#add-part-box h3 { margin-bottom: 0.5em; padding: 0; }

/* CREATE ENTRY - VEHICLE FIELDS
---------------------------------------------------------------------- */
.full-column { margin-bottom: 20px; width: 100%; }
.column { float: left; width: 32%; margin-right: 10px; margin-bottom: 20px; }
.column:last-child { margin-right: 0; }
.column-2 { float: left; width: 16%; margin-right: 4px; }
#attachments input { margin: 0; }
#attachments .fields { float: left; width: 32%; margin: 4px; padding: 10px 0; text-align: center; background: #ddd; }
#attachments .fields :last-child { margin-right: 0; }
#attachments input[type="file"] { width: 75%; }
#attachments .add_nested_fields { margin: 10px 4px 0; }

/* SUPPLIER - MAIN HUB
---------------------------------------------------------------------- */
#item-bids { clear: both; margin: 4em 0 1em; }
table .bid-box { width: 60%; overflow: hidden; text-align: center; }
table .bid-box span { color: #C00; }
table .bid-box .fields, table .bid-box #amounts { clear: both; overflow: hidden; }
table .bid-box .bid-field, table .bid-box .bid-amount { float: left; display: inline; width: 32%; min-height: 2.5em; padding: 2px; text-align: right; }
table .bid-box .bid-field.center { color: #919191; text-align: center; }
table .bid-box #regular { width: 31%; }
table .bid-box .bid-amount { min-height: 1.5em; }
table .bid-box .status { float: left; margin-left: 15px; }
table .bid-box input.quote { text-align: right; }
table .bid-box .bid-msg { clear: both; }
table .bid-box p.instruction { margin: 5px 0; }
table .bid-box p.instruction.large { font-size: 1.1em; }
table#lot-bids { margin: 1.5em 0; }
table#lot-bids th, .total-th { text-align: center; vertical-align: middle; }
table#lot-bids tr { border-top: 2px solid #999; }
/*table td.vehicle p { width: 70%; margin-left: 110px; }*/
/*table .vehicle span { font-weight: bold; }*/

/* SUPPLIER - MONITOR BIDS
---------------------------------------------------------------------- */

#supplier-bids th.vehicle, #supplier-bids th .part { text-align: left; }
#supplier-bids .vehicle { width: 20%; }
#supplier-bids .vehicle a { font-size: 1em; }
#supplier-bids .vehicle + td { width: 80%; }
#supplier-bids .vehicle .strong { font-size: 1em; }
#supplier-bids .vehicle .button { margin-top: 15px; }
#supplier-bids .part { clear: both; float: left; margin-bottom: 5px; width: 25%; }
#supplier-bids .bid-group { float: left; margin-left: 2%; margin-bottom: 10px; position: relative; width: 73%; }
#supplier-bids td .bid-group { min-height: 4.5em; }
#supplier-bids .amount { width: 32%; }
#supplier-bids .original { clear: both; position: absolute; left: 0;  }
#supplier-bids .replacement { left: 188px; position: absolute;  }
#supplier-bids .surplus { left: 373px; position: absolute;  }
#supplier-bids .vals { float: left; font-size: 14px; text-align: center; position: relative; width: 55%; }
#supplier-bids .stat { float: right; text-align: center; width: 42%;}
#supplier-bids .amount .instruction { clear: both; margin-bottom: 5px; text-align: center; }

#supplier-bids .info { margin:10px 0; padding: 5px 0; text-align: center; width: 100%; }
#supplier-bids .orig, #supplier-bids .rep, #supplier-bids .surp { float: left; min-height: 4em;}
#supplier-bids .rep, #supplier-bids .surp { margin-left: 2%; }

/* COMMENTS IN ENTRIES#SHOW
---------------------------------------------------------------------- */
#show-comments, #show-messages { clear: both; margin-bottom: 2em; overflow: hidden; width: 100%;}
#comments-list { float: left; width: 100%;}
#comments-list li { float: left; margin: 0 0 10px 0; width: 100%;}

/* PURCHASE ORDER
---------------------------------------------------------------------- */
#transaction { float: left; overflow: hidden; width: 458px; min-height: 200px;  margin: 0 10px 20px 0;  }
#delivery { float: right; width: 450px; border-left: 1px solid #999; padding-left: 30px; margin-bottom: 1.5em;}
#transaction.create { border-right: 1px solid #999; margin-right: 0; padding-right: 30px; }
#delivery.create { border: 0; padding-left: 0;  }
#delivery div input, #delivery div textarea { width: 300px; }
#transaction h2, #delivery h2, #order h2 { clear: both; line-height: 2em; border-bottom: 1px solid #999; }
#transaction .who { color: #C00; font-weight: bold; }
#transaction .vehicle-set { width: 100%; margin-bottom: 2em; }
#transaction .full-name { margin-top: 1.2em; font-weight: bold; }
#buyer-company, #supplier-company { float: left; overflow: hidden; width: 50%; }
#supplier-company.multiple { clear: both; background-color: #FFF6BF; }
#buyer-company h3, #supplier-company h3 { font-size: 1em; color: #999; text-transform: uppercase; }
#buyer-company h4, #supplier-company h4 { margin-bottom: 0.8em; }
#del-instructions { width: 450px; }
#del-instructions li { clear: both; padding-left: 140px; }
#del-instructions span { font-weight: bold; color: #999; display: block; float: left; margin-left: -140px; width: 30%; }
#del-instructions #address, #del-instructions #date-released, #del-instructions #date-delivered { padding-top: 20px; }
#del-instructions #overdue, #del-instructions #date-paid { color: #C00; font-size: 1.2em; font-weight: bold; padding-top: 20px; }
#del-instructions #instr { border-top: 1px dotted black; border-bottom: 1px dotted black; font-weight: bold; margin-top: 20px; padding-top: 5px; padding-bottom: 5px; overflow: hidden;}
#del-status { background-color: #FFF6BF; clear: both; color: #C00;  padding: 10px 0; text-align: center; }
#order { clear: both; overflow: hidden; margin: 1.5em 0 0; }
#order .vehicle-set { float: left; margin-bottom: 30px; width: 50%; }
#order .vehicle-set li { clear: both; float: left; width: 280px; }
#order td { padding-top: 15px; padding-bottom: 15px; }
#order .bid-type, .order .bid-type { color: #C00; display: inline; float: right; font-size: 11px;}
.parts-set { float: left; width: 100%; margin: 2em 0; }
.selection-total td { font-size: 1.5em; font-weight: bold; color: #C00; text-align: right; padding: 10px 8px 10px 0; border-bottom: none; }
#view-vehicle-button { float: left; }
#order h3 { clear: both; }
#order #creator { width: 9%;  }
#order #comment { width: 85%; margin-right: 10px; }
#order #datetime { margin-right: 10px; width: 15%; }
#order .msg-link { display: none; }

#cancel-order div { text-align: center; }
#cancel-order label { color: #C00; padding: 15px 0; text-transform: uppercase; width: 100%; }
#cancel-order textarea { font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;float: none; height: 40px; width: 50%;}

/* ORDERS & PAYMENTS LISTS
---------------------------------------------------------------------- */
#orders-list th.items { text-align: left; }
#orders-list .vehicle { width: 30%; }
#orders-list .vehicle a { font-size: 1em; }
#orders-list .amount { text-align: center; }
#orders-list .stat { text-align: center; width: 30%; }
#orders-list .stat .highlight { margin-bottom: 5px; }
#orders-list .total { font-size: 14px; margin-bottom: 5px; }
#order-total, #supplier-total { float: left; margin-right: 25px; }

/* FEES
---------------------------------------------------------------------- */

form.groups.highlight { padding: 2px 0; }
#buyer-fees .fee, #supplier-fees .fee { font-size: 1.2em; font-weight: bold; }
#buyer-fees .fee .instruction,#supplier-fees .fee .instruction { font-size: 11px;font-weight: normal; }
table .totals { font-size: 1.5em; font-weight: bold; padding-top: 10px; padding-bottom: 10px; text-transform: uppercase; } 

#buyer-fees th.vehicle, #buyer-fees th .part { text-align: left; }
#buyer-fees .vehicle { width: 20%; }
#buyer-fees .vehicle .strong { font-size: 1em; }
#buyer-fees .vehicle .button { margin-top: 15px; }
#buyer-fees .vehicle + td { width: 80%; }
#buyer-fees .part, #buyer-fees .fee-type, #buyer-fees .lowest-bid, #buyer-fees .speed, #buyer-fees .rate, #buyer-fees .fee { display: inline; float: left; line-height: 20px; min-height: 18px; }
#buyer-fees .part { clear: both; width: 25%;}
#buyer-fees .fee-type, #buyer-fees .lowest-bid, #buyer-fees .speed, #buyer-fees .rate, #buyer-fees .fee { margin-left: 5px; text-align: right; }
#buyer-fees .lowest-bid, #buyer-fees .fee-type, #buyer-fees .speed { width: 15%; }
#buyer-fees .rate { width: 10%; }
#buyer-fees .fee { width: 15%;  }
#buyer-fees .fee-type { text-align: center; }


#supplier-fees th.vehicle, #supplier-fees th .part { text-align: left; }
#supplier-fees .vehicle { width: 20%; }
#supplier-fees .vehicle a { font-size: 1em;  }
#supplier-fees .vehicle + td { width: 80%; }
#supplier-fees .po-group a {  display: inline; float: right; margin-right: 0; }
#supplier-fees .po-group { clear: both; margin-top: 10px; margin-bottom: 10px; overflow: hidden; }
#supplier-fees .part, #supplier-fees .amount-paid, #supplier-fees .speed, #supplier-fees .rate, #supplier-fees .fee { display: inline; float: left; line-height: 18px; min-height: 20px; }
#supplier-fees .part { clear: both; width: 25%;}
#supplier-fees .amount-paid, #supplier-fees .fee, #supplier-fees .speed, #supplier-fees .rate { margin-left: 5px; text-align: right; }
#supplier-fees .amount-paid, #supplier-fees .fee { width: 15%;  }
#supplier-fees .speed { width: 20%; }
#supplier-fees .rate { width: 10%; }
 
 /* DIFF TABLE
----------------------------------------------------------------------*/ 

#diff .vehicle { width: 25%; }
#diff .vehicle a { font-size: 1em; margin-left: -4px; }
#diff div { float: left; margin-bottom: 5px; min-height: 20px; line-height: 18px; }
#diff td .part { clear: both; }
#diff .part { width: 200px; }
#diff .amounts { margin-left: 10px; width: 490px; }
#diff .amounts .amount { margin-left: 10px; text-align: right; width: 135px; }
#diff .amounts .labels { clear: both; font-weight: bold; width: 50px; }
#diff .amounts .ebid { color: #C00; min-height: 3em; }
#diff .amounts .manual { color: green; }
#diff .amounts .no-bid { color: #919191; margin-left: 10px; text-align: center; width: 420px;  }
#diff .amounts div span { color: #C00; font-size: 0.8em;}

.dash.diff  { width: 100%; font-size: 1.2em;}
#diff .dash-entry strong { width: 40%; }
#diff #w-ebid, #diff #manual-only, #diff #no-price { padding-left: 15px; }
#diff #ebid-manual, #diff #ebid-only { padding-left: 30px; }
#diff #ebid-lower, #diff #ebid-higher, #diff #same { padding-left: 60px; }
#diff li span.instruction { font-style: normal; opacity: 1; }

/* USERS#INDEX 
---------------------------------------------------------------------- */
#users-index th { text-align: left; }
#users-index .user, #users-index .last { width: 15%; }
#users-index .rating { width: 18%; }
#users-index .rating { text-align: center; }
#users-index .rating p { margin: 0; }
#users-index .birthday, #users-index .roles { width: 10%; }
#users-index .links p { margin: 5px 0; text-align: right; }

/* USERS#SHOW & COMPANIES#SHOW
---------------------------------------------------------------------- */
.first.profile li, .second.usage li, #show-company-info li { clear: both; }
.first.profile li span, .second.usage li span, #show-company-info li span { color: #999; float: left; font-weight: bold; width: 15%;}
#show-company-users li { list-style-position: outside; }
.friend { font-size: 1.5em; }


/* RATINGS#INDEX
---------------------------------------------------------------------- */
#ratings-index .order { text-align: center; width: 10%; }
#ratings-index .rater, #ratings-index .ratee { text-align: left; width: 12%; }
#ratings-index .stars { text-align: center; width: 15%; }
#ratings-index .review { background-color: #FFF6BF; width: 51%; }
#ratings-index td .review { text-align: left; }

/* RATINGS#NEW & #SHOW
---------------------------------------------------------------------- */
.second.rating { float: right; }
.rating p { margin-bottom: 1.1em; }
.rating .label, .rating label, #show-rating .label { color: #999; font-weight: bold; text-transform: uppercase; }
.rating .name { color: #C00; font-size: 1.5em; }
.rating textarea { clear: both; }
#content-main .stars div a { background: transparent url(../images/stars/sprite_rate.png) 0 0 no-repeat; display: inline-block; height: 23px; margin-bottom: 1.5em; padding: 0;  width: 12px; text-indent: -999em; overflow: hidden; }
#content-main .stars a  { border-bottom: 0; }
#content-main .stars a.rating-right { background-position: 0 -23px; padding-right: 6px; }
#content-main .stars a.rating-over { background-position: 0 -46px; }
#content-main .stars a.rating-over.rating-right { background-position: 0 -69px; }
#content-main .stars a.rating { background-position: 0 -92px; }
#content-main .stars a.rating.rating-right { background-position: 0 -115px; }
#show-rating p { float: left; margin-bottom: .5em; height: 1.4em; line-height: 1.4em; }
#show-rating .label { clear: both;  }

/* CHRISTMAS MESSAGE
---------------------------------------------------------------------- */
#xmas { font-family: Georgia,"Times New Roman",Times,serif; font-style: italic; position: relative; width: 960px; }
#xmas #message { position: absolute; top: 150px; left: 225px; }
#xmas #message p { margin-bottom: 10px; font-size: 16px;}
#xmas #salutation { font-size: 2em; }
#xmas #first, #xmas #second, #xmas #closing { padding-top: 20px; }
#xmas #guys { color: #C00; }

/* CHINESE NEW YR MESSAGE
---------------------------------------------------------------------- */

#chnwyr { float: left; margin: 0 50px 20px 0; text-align: center; }
#chnwyr img { border: 1px solid #CCC; padding: 5px; }

.supplier.right { float: left; width: 73% }
.aside { float: right; width: 24%; text-align: center; }
.aside div { margin: 0 0 12px; padding: 15px; text-align: center;}
.aside p { margin-bottom: 0; }
#content-main .aside .button { margin-right: 0; margin-bottom: 12px; text-align: center; width: 50%; }
#content-main .aside #feature-button { background-color: #6B9D28; font-size: 16px; width: 60%; }
#content-main .aside #feature-button:hover, #content-main #feature-button:hover, #content-main .button.green-button:hover, #content-main #cancel-button:hover { background-color: #D02200; }
#content-main #feature-button, #content-main .button.green-button { background-color: #6B9D28; }
#content-main #cancel-button { background-color: #CCC; float: right;}

.aside div#message-box, .aside div.input { margin: 0; padding: 0; }

#message-box { clear: both; border-top: 1px solid #CCC; border-bottom: 1px solid #CCC; margin-bottom: 20px; padding: 10px 0 15px; width: 100%; }
#msg-list { float: left; margin-bottom: 10px; overflow: hidden; width: 100%; }
#msg-list #private { float: left; width: 48%; }
#msg-list #public { float: right; width: 48%; }
#msg-list h3, #msg-list .instruction { text-align: center; }
#msg-list .msg-link { margin-right: 4px; padding: 0 4px;}
#msg-list ul { margin: 0; padding: 0; }
#msg-list li { clear: both; float: left; margin-bottom: 10px; width: 100%; }
#creator, #comment { float: left; }
#creator { font-weight: bold; margin-right: 3%; width: 20%;  }
#comment { width: 77%; }
#datetime { color: #999; font-weight: bold; margin-right: 10px; }
#msg-fields { clear: both; position: relative; text-align: center;}
#msg-fields label { color: #C00; padding: 15px 0; text-transform: uppercase; width: 100%; }
#msg-fields textarea { font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;float: none; height: 40px; width: 50%;}
#confirmation { font-size: 1.2em; margin: 10px 0; padding: 10px 0; }

#msg-snippet { border: 1px dotted #CCC; margin: 0 auto; padding: 5px; text-align: left; overflow: hidden; width: 50%; }
#msg-snippet .msg-label { color: #C00; text-transform: uppercase; }
#msg-snippet .msg-user { font-weight: bold; }
#msg-snippet .msg { font-size: 1.2em; margin-left: 15px; }
