<% title "New User Registration" %>

<p id="reg-instruction">The first step is to register with the E-Bid Community.<br>  
  After this, we will contact you to arrange for the activation of your account.</p>
<%= render :partial => 'form' %>
