<% title "#{@car_part.id} #{@car_part.name}" %>

<%= render 'relationships', :car_part => @car_part %>

<p>
  <%= link_to "Edit", edit_car_part_path(@car_part) %> |
  <%= link_to "Delete", @car_part, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Back", :back %>
</p>
