<% title "About" %>

<div id="about-company">
  <h2>This is the hub for SMEs</h2>
  <p class="highlight intro">
  	As small (or medium) entrepreneurs, we all have several things in common. <br>
  	We want our businesses to last a very long time.  We are very meticulous on anything that will 
  	affect our operations	(including the purchase of vehicle parts).  
  	We look for two things: <strong>good quality</strong> and <strong>fair price</strong>.
  </p>
  <p>
    At E-Bid we believe that <span class="highlight">there is a price at which both the buyer and the supplier
    are happy</span>.  That price allows maximum cost savings for the buyer, yet still 
    gives a profitable margin for the supplier.  Some people call it win-win.  
    We call it the <strong>sweet-spot</strong>.
  </p>
  <%= image_tag 'base/sweetspot.png', :id => 'sweetspot' %>
  <p>
  	We also believe in the <span class="highlight">power of large numbers</span>.  That's why E-Bid brings SMEs together
  	to form an online trading community.	<strong>When a large number of SME buyers collaborate with a large number of SME suppliers, 
  	both parties gain the advantages that are usually enjoyed by big businesses only.</strong>
  </p>
  <%= image_tag 'base/ebidcommunity.png', :id => 'ebidcommunity' %>
  <h2>Reverse + private auction = sweet spot</h2>
  <p>	
  	To achieve the sweet-spot, we use a reverse auction method.  <strong>This makes the selling prices competitive and real-time</strong>.
  	Then we went a step further. We combined it with the private auction method.  <strong>This makes the buying
  	decisions fair and transparent</strong>. 
  </p> 
  <p>
  	Everything is online and easy to use.  For <span class="highlight">buyers</span>, we help you post your requirements accurately.  
  	Then we make it easy for you to decide, order, and pay.  For <span class="highlight">suppliers</span>, we make it convenient for you 
  	to bid.  Then we help you monitor so you can collect on time.  <strong>E-Bid is efficient and transparent</strong>.
  </p>
  <p class="highlight">
    If you're a SME buyer looking for real-time cost savings, E-Bid is for you.  And if you're a reputable supplier 
    looking to expand into the SME market, E-Bid is also for you.
  </p>
  <p>
  	Vehicle parts buyers and suppliers ... this is our trading community. It's simple. It's professional. <br>
  	<strong>It's good for business!</strong>   
  </p>
</div>
<div id="about-people">
  <h2>The E-Bid Team</h2>
  <ul>
    <li>
      <h3>Ted Toribio</h3>
      <p class="position">President</p>
      <p>
        Ted is a retired (although not so "retired") corporate executive.   While establishing his career in the corporate world,
        he also tried his hand in a couple of small business ventures (which became quite successful).  He intimately knows 
        the difficulties as well as the triumphs of a small business owner, that's why his lifelong goal is to help SMEs succeed.
        Besides working with E-Bid, he continues to advise private enterprises and serves as technical consultant on 
        selected national government projects. 
      </p>
      <p>
        Ted was born and raised in Davao.  He is a proud father of 6 and grandfather of 9.
      </p>
    </li>
    <li>
      <h3>Efren Magtibay</h3>
      <p class="position">Vice President &amp; COO</p>
      <p>
        Efren brings to E-Bid the depth of his experience on international relations.  Before coming back to the Philippines in 2005, 
        he was a Filipino expat in Singapore where he stayed for 8 years with his wife and daughter.  He is now a 
        "serial entrepreneur", applying his expertise on risk management and multinational trade.  He works with partners from Europe and Asia.
        His vision is for E-Bid to become an international hub to provide Filipino entrepreneurs broader opportunities.
      </p>
      <p>
        Efren hails from Batangas.  He enjoys traveling and an occasional round of golf.
      </p>
    </li>
    <li>
      <h3>Chris Marquez</h3>
      <p class="position">GM, Webmaster &amp; Community Officer</p>
      <p>
        Chris was a training and organizational development professional for several top local companies before joining E-Bid.  
        His expertise is developing systems and refining processes to make work simpler, more efficient, and fun.
        He combines his knowledge in psychology, web development, and user interaction design to make E-Bid a useful
        tool for Filipino entrepreneurs.
      </p>
      <p>
        You can catch Chris either in the office working on new features from the suggestions of the E-Bid Community,
        or in the field inviting more SME buyers and suppliers to join.   
      </p>
      <p>
        In his previous life, Chris was a ballroom dancing champion.  Being a native of Baguio, he loves nature-trips with 
        his wife and 3 kids.
      </p>
    </li>
  </ul>
  <p class="instruction strong">E-Bid is a trading community for entrepreneurs, created by entrepreneurs.</p>
</div>
<div id="call-to-action">
  <p>
    Try E-Bid FREE for 30 days <%= link_to "here", new_user_path, :id => 'signup' %>
  </p>
</div>
