<div id="branding-top">
	<h1 id="logo">E-Bid Vehicle Parts Auction System</h1>
	<%= image_tag "/images/base/bg_car2.jpg", :alt => "Vehicle parts auctioned in E-Bid" %>
	<h2>This is where businesses buy their parts.</h2>
	<p>
	  E-Bid is the online trading community for vehicle parts buyers and suppliers.<br> 
	  They meet here, <em>business-to-business</em>, to trade <em>fairly</em> 
	  and <em>profitably</em>.
	</p>
</div>
<div id="branding-bottom">
  <div class="buyer box">
    <h2>Parts Buyers</h2>
    <ul class="benefits">
      <h3>What are your benefits?</h3>
      <li>Access a bigger number of good and honest suppliers<br> 
        (you get better choices here)</li>
      <li>Save time (and money) from organizing a bidding or a canvassing trip 
        (less cost + less time = more profit)</li>
      <li>Get that parts that you need at fair prices</li>
      <li>Plus, you might just find those difficult-to-find parts here!</li>
    </ul>
    <ul class="who-join">
      <h3>Who should join?</h3>
      <p>Small &amp; Medium Enterprises ...</p>
      <li>Reputable insurance companies</li>
      <li>Start-up business and franchises</li>
      <li>Auto leasing and rent-a-car companies</li>
      <li>Taxi companies</li>
      <li>Trucking services</li>
      <li>Motorcycle fleets</li>
    </ul>
  </div>
  <div class="supplier box">
    <h2>Parts Suppliers</h2>
    <ul class="benefits">
      <h3>What are your benefits?</h3>
      <li>Access a bigger number of reputable SME buyers<br>
        (a good market for you)</li>
      <li>Submit bids to multiple SMEs with minimal effort<br> 
        (no faxing and re-faxing here)</li>
      <li>Track orders and payments real-time<br> 
        (we help you get paid promptly)</li>
      <li>Get trend reports on the community's demand for parts<br> 
        (useful for inventory management)</li>
      <li>And, you are assured that the order always goes to the best bidder 
        (it's transparent)</li>
      <li>Plus, you might be able to finally sell you slow-moving inventory</li>
    </ul>
    <ul class="who-join">
      <h3>Who should join?</h3>
      <p>Suppliers of ...</p>
      <li>Vehicle body and mechanical parts</li>
      <li>Engines and associated parts <br>
        (hoses, belts, filters, transmissions, radiators, etc.)</li>
      <li>Auto electrical parts</li>
      <li>Oils and lubricants</li>
      <p class="small">Suppliers of <em>high-quality</em> surplus parts may also join the E-Bid Community.</p>
    </ul> 
  </div>
</div>
<div id="call-to-action">
  <p>
    E-Bid is a growing community of vehicle parts buyers and suppliers.<br> 
    SMEs join because it's good for business.  Why don't you try it?<br>
    Sign-up for a 30-day free trial <%= link_to "here", new_user_path, :id => 'signup' %>
    or <%= link_to 'learn more', site_about_path, :id => 'learn' %>
  </p>
</div>
	
