<% title "Remarks" %>

<p>
  <strong>Name:</strong>
  <%= @remarks.name %>
</p>

<p>
  <%= link_to "Edit", edit_remarks_path(@remarks) %> |
  <%= link_to "Destroy", @remarks, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", remarks_path %>
</p>
