<%= Rails.env if Rails.env == 'development' %>
<ul id="browser" class="links">
  <li class="label">E-Bid <strong>works best</strong> with these modern browsers:</li>
  <li><%= link_to "Mozilla Firefox", 'http://www.mozilla.com/en-US/firefox/', :id => 'firefox', :target => '_blank' %></li>
  <li><%= link_to "Apple Safari", 'http://www.apple.com/safari/download/', :id => 'safari', :target => '_blank' %></li>
  <li><%= link_to "Google Chrome", 'http://www.google.com/chrome', :id => 'chrome', :target => '_blank' %></li>
</ul>
