<div class="container">
<%= render 'layouts/browsers' %>
<p>You are using E-Bid version 3.55</p>  
<p><strong>Copyright &copy; 2006-<%= Time.now.year -%> E-Bid, Inc.</strong>   All rights reserved.</p>
<br>
<p>Special thanks to our partner: <%= link_to 'Kotiin@Makati Corporation', 'http://www.kotimakati.com', :target => '_blank' %></p>
</div>
